/* Styles go here */

.container {
  border: 10px solid blue;
  height: 100vh;
  width: 100vw;
}

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: incline-block;
  background-color: black;
  border: 5px solid black;
}
