.container {
  /* border: 5px solid blue; */
  height: 100vh;
  width: 100vw;
}

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: incline-block;
  background-color: black;
  border: 1px solid lightgrey;
}

h3 {
  margin-left: 1%;
  color: white;
}
